# Importing Data & Cleaning

In [1]:
import pandas as pd, re
import matplotlib.pyplot as plt
import glob
import os
import numpy as np
import math

<b> Importing PSNI street crime data from 08-2015 to 05-2018 and displaying the first five rows </b>

In [2]:
src_dir ='../../data/PSNI_StreetCrime_1Year'
psni_crime_data = pd.DataFrame()
list_ = []
i = 0
for root, dirs, files in os.walk(src_dir):
    allFiles = glob.glob(root + "/*.csv")
    for file in allFiles:
        year_df = pd.read_csv(file,index_col=None, header=0)
        list_.append(year_df)
        psni_crime_data = pd.concat(list_)
psni_crime_data.head()

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,NaN,2015-08,Police Service of Northern Ireland,Police Service of Northern Ireland,-7.378949,54.717334,On or near Dublin Street,NaN,NaN,Anti-social behaviour,NaN,NaN
1,NaN,2015-08,Police Service of Northern Ireland,Police Service of Northern Ireland,-5.891082,54.222501,On or near Bracken Avenue,NaN,NaN,Anti-social behaviour,NaN,NaN
2,NaN,2015-08,Police Service of Northern Ireland,Police Service of Northern Ireland,-5.667276,54.663573,On or near High Street,NaN,NaN,Anti-social behaviour,NaN,NaN
3,NaN,2015-08,Police Service of Northern Ireland,Police Service of Northern Ireland,-5.962330,54.587243,On or near Rodney Parade,NaN,NaN,Anti-social behaviour,NaN,NaN
4,NaN,2015-08,Police Service of Northern Ireland,Police Service of Northern Ireland,-5.894063,54.590423,On or near Brenda Street,NaN,NaN,Anti-social behaviour,NaN,NaN

<b> Let's look at the data frame from a high level and identify the data type and stored data in the columns  </b>

In [3]:
psni_crime_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 445745 entries, 0 to 13728
Data columns (total 12 columns):
Crime ID                 274726 non-null object
Month                    445745 non-null object
Reported by              445745 non-null object
Falls within             445745 non-null object
Longitude                443370 non-null float64
Latitude                 443370 non-null float64
Location                 445745 non-null object
LSOA code                0 non-null float64
LSOA name                0 non-null float64
Crime type               445745 non-null object
Last outcome category    0 non-null float64
Context                  0 non-null float64
dtypes: float64(6), object(6)
memory usage: 44.2+ MB

<b> There are a number of fields that are redundant, containing all null values. Let's drop them from the table.  </b>

In [4]:
psni_crime_data = psni_crime_data.drop(['LSOA code', 'LSOA name', 'Last outcome category', 'Context'], axis=1)

In [5]:
psni_crime_data.describe(include='all')

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,Crime type
count,274726,445745,445745,445745,443370.000000,443370.000000,445745,445745
unique,11728,34,1,1,NaN,NaN,14872,14
top,aef84ad2e77786a30c16008e57aeb74617cde15bff0cda...,2015-10,Police Service of Northern Ireland,Police Service of Northern Ireland,NaN,NaN,On or near,Anti-social behaviour
freq,34,15444,445745,445745,NaN,NaN,61638,171019
mean,NaN,NaN,NaN,NaN,-6.268281,54.620995,NaN,NaN
std,NaN,NaN,NaN,NaN,0.527199,0.227856,NaN,NaN
min,NaN,NaN,NaN,NaN,-8.148313,54.026858,NaN,NaN
25%,NaN,NaN,NaN,NaN,-6.512727,54.511284,NaN,NaN
50%,NaN,NaN,NaN,NaN,-6.011100,54.597057,NaN,NaN
75%,NaN,NaN,NaN,NaN,-5.924801,54.697173,NaN,NaN
max,NaN,NaN,NaN,NaN,-5.434918,55.240074,NaN,NaN

<b> Crime ID is not shared by all the rows. According to the official police API (https://data.police.uk/docs/method/crime-street/), this is used as an ID for the API and is not a police identifier.  Let's investigate this ID further and decide whether it is valuable to have in the table. </b>

In [6]:
num_unique_crime_ids = psni_crime_data['Crime ID'].nunique()
print(f"Number of unique crime ids: {num_unique_crime_ids}")

psni_crime_data_crimetype = psni_crime_data.groupby('Crime type')['Crime ID'].count()
psni_crime_data_crimetype

Number of unique crime ids: 11728

Crime type
Anti-social behaviour                0
Bicycle theft                     2141
Burglary                         20368
Criminal damage and arson        52336
Drugs                            16483
Other crime                       7472
Other theft                      37313
Possession of weapons             2701
Public order                      3334
Robbery                           1732
Shoplifting                      17389
Theft from the person             1253
Vehicle crime                    11743
Violence and sexual offences    100461
Name: Crime ID, dtype: int64

<b> Anti social behaviour does not have any Crime IDs associated with them. As Crime ID is not unique this makes me suspect there could be duplicates of the same crime in the table. I'm going to investigate this by finding rows with the same Crime ID, Month, Longitude, Latitude, Location and Crime Type </b>

In [7]:
grouped_psni_crime_data = psni_crime_data.fillna(-1).groupby(['Crime ID','Month', 'Longitude','Latitude', 'Location', 'Crime type']).size().reset_index(name='counts')

In [8]:
num_duplicate_rows = grouped_psni_crime_data[grouped_psni_crime_data.counts > 1].counts.sum()
percent_duplicate_rows = "{:.1%}".format(num_duplicate_rows/len(psni_crime_data))
print(f"{percent_duplicate_rows}")

16.3%

<b> 16.3% of rows could be potentially duplicate. I will drop Crime ID as it is not an effective unique identifier for the rows and has no use interacting with the Police API.</b>

In [9]:
psni_crime_data = psni_crime_data.drop(['Crime ID'], axis=1)

<b> 'Reported by' and 'Falls within' columns can be dropped as in all entries they are both set to 'Police Service of Northern Ireland'</b>

In [10]:
print(psni_crime_data['Reported by'].nunique())
print(psni_crime_data['Falls within'].nunique())
psni_crime_data = psni_crime_data.drop(['Reported by', 'Falls within'], axis=1)

1
1

<b> There is NaN float values in the longitude and latitude. Let's investigate this further. </b>

In [11]:
psni_crime_data[psni_crime_data['Longitude'].isnull() | psni_crime_data['Longitude'].isnull()].head()

        Month  Longitude  Latitude     Location             Crime type
225   2015-08        NaN       NaN  No Location  Anti-social behaviour
3812  2015-08        NaN       NaN  No Location  Anti-social behaviour
5713  2015-08        NaN       NaN  No Location          Bicycle theft
5732  2015-08        NaN       NaN  No Location          Bicycle theft
6223  2015-08        NaN       NaN  No Location               Burglary

<b> I'm going to verify that No Location value in Location has a direct relationship with Longitude and Latitude </b>

In [12]:
psni_crime_data[(psni_crime_data['Location'] == 'No Location') & ~(psni_crime_data['Longitude'].isnull() & psni_crime_data['Longitude'].isnull())].head()

Empty DataFrame
Columns: [Month, Longitude, Latitude, Location, Crime type]
Index: []

<b> Let's add a binary column that is 1 if the location associated and 0 if it does not not. This will make excluding these datasets more manageable when geographing the crimes. </b>

In [13]:
def has_location(row):
    if (math.isnan(row['Longitude']) or math.isnan(row['Latitude']) or row['Location'] == 'No Location'):
        return False
    else:
        return True

psni_crime_data['Has_Location'] = psni_crime_data.apply(lambda row: has_location (row),axis=1)

In [14]:
psni_crime_data.dtypes

Month            object
Longitude       float64
Latitude        float64
Location         object
Crime type       object
Has_Location       bool
dtype: object

<b> The month column data is presented in the format yyyy-mm. This can be converted to datetime split up into more columns to allow for more information to be derived. </b>

In [15]:
psni_crime_data['Date'] = pd.to_datetime(psni_crime_data['Month'], format='%Y-%m')

In [16]:
psni_crime_data = psni_crime_data.drop(['Month'], axis=1)

In [17]:
def add_datepart(df, fldname, drop=True, time=False):
    """add_datepart converts a column of df from a datetime64 to many columns containing
    the information from the date. This applies changes inplace.
    Parameters:
    -----------
    df: A pandas data frame. df gain several new columns.
    fldname: A string that is the name of the date column you wish to expand.
        If it is not a datetime64 series, it will be converted to one with pd.to_datetime.
    drop: If true then the original date column will be removed.
    time: If true time features: Hour, Minute, Second will be added.
    Examples:
    ---------
    >>> df = pd.DataFrame({ 'A' : pd.to_datetime(['3/11/2000', '3/12/2000', '3/13/2000'], infer_datetime_format=False) })
    >>> df
        A
    0   2000-03-11
    1   2000-03-12
    2   2000-03-13
    >>> add_datepart(df, 'A')
    >>> df
        AYear AMonth AWeek ADay ADayofweek ADayofyear AIs_month_end AIs_month_start AIs_quarter_end AIs_quarter_start AIs_year_end AIs_year_start AElapsed
    0   2000  3      10    11   5          71         False         False           False           False             False        False          952732800
    1   2000  3      10    12   6          72         False         False           False           False             False        False          952819200
    2   2000  3      11    13   0          73         False         False           False           False             False        False          952905600
    """
    fld = df[fldname]
    fld_dtype = fld.dtype
    if isinstance(fld_dtype, pd.core.dtypes.dtypes.DatetimeTZDtype):
        fld_dtype = np.datetime64

    if not np.issubdtype(fld_dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    attr = ['Year', 'Month', 'Week']
    for n in attr: df[targ_pre + n] = getattr(fld.dt, n.lower())
    if drop: df.drop(fldname, axis=1, inplace=True)

In [18]:
add_datepart(psni_crime_data, 'Date')

In [19]:
psni_crime_data.dtypes

Longitude       float64
Latitude        float64
Location         object
Crime type       object
Has_Location       bool
Year              int64
Month             int64
Week              int64
dtype: object

In [20]:
psni_crime_data.head()

,Longitude,Latitude,Location,Crime type,Has_Location,Year,Month,Week
0,-7.378949,54.717334,On or near Dublin Street,Anti-social behaviour,True,2015,8,31
1,-5.891082,54.222501,On or near Bracken Avenue,Anti-social behaviour,True,2015,8,31
2,-5.667276,54.663573,On or near High Street,Anti-social behaviour,True,2015,8,31
3,-5.962330,54.587243,On or near Rodney Parade,Anti-social behaviour,True,2015,8,31
4,-5.894063,54.590423,On or near Brenda Street,Anti-social behaviour,True,2015,8,31