# Lecture 9 Live EDA Demo
This demo intends to cover some more advanced functionality that is available to you in pandas.

# Importing the data

In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv('googleplaystore.csv')

In [2]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Current_Ver,Android_Ver
0,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,2.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",4.4,1.1
1,FC Barcelona Official App,SPORTS,3.9,92522,56M,"5,000,000+",Free,0,Everyone,Sports,"July 26, 2018",4.1,4.0.14
2,Facebook,SOCIAL,4.1,78158306,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 03, 2018",5.0.1,5.0.1
3,Nike,SHOPPING,4.7,67071,40M,"1,000,000+",Free,0,Everyone,Shopping,"August 01, 2018",5.6.1,3.4
4,eBay: Buy & Sell this Summer - Discover Deals ...,SHOPPING,4.4,2788923,Varies with device,"100,000,000+",Free,0,Teen,Shopping,"July 30, 2018",NaN,NaN

# Query
Query the columns of a frame with a boolean expression.

### Example 1:

In [3]:
data[(data.Current_Ver == data.Android_Ver)]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Current_Ver,Android_Ver
2,Facebook,SOCIAL,4.1,78158306,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 03, 2018",5.0.1,5.0.1

<b>The above will display rows where the current version = android version and so on

In [4]:
data[(pd.isna(data.Current_Ver))]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Current_Ver,Android_Ver
4,eBay: Buy & Sell this Summer - Discover Deals ...,SHOPPING,4.4,2788923,Varies with device,"100,000,000+",Free,0,Teen,Shopping,"July 30, 2018",NaN,NaN
6,Scientific Calculator Free,TOOLS,1.0,16395,Varies with device,"1,000,000+",Free,0,Everyone,Tools,"June 28, 2018",NaN,NaN

<b>Check if the current version in any of the rows is NaN

### Example 2

In [5]:
data.query('Current_Ver == Android_Ver')

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Current_Ver,Android_Ver
2,Facebook,SOCIAL,4.1,78158306,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 03, 2018",5.0.1,5.0.1

<b> Using query is an alternative method (Like SQL) </b>

In [6]:
data.query('Current_Ver != Android_Ver and Rating > 4')

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Current_Ver,Android_Ver
3,Nike,SHOPPING,4.7,67071,40M,"1,000,000+",Free,0,Everyone,Shopping,"August 01, 2018",5.6.1,3.4
4,eBay: Buy & Sell this Summer - Discover Deals ...,SHOPPING,4.4,2788923,Varies with device,"100,000,000+",Free,0,Teen,Shopping,"July 30, 2018",NaN,NaN
5,Google Translate,TOOLS,4.5,5745093,Varies with device,"500,000,000+",Free,0,Everyone,Tools,"August 04, 2018",6.7.8,5.6.1

In [7]:
data.query("Genres in ['Shopping', 'Tools']") # checking if the genre belongs to the list

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Current_Ver,Android_Ver
3,Nike,SHOPPING,4.7,67071,40M,"1,000,000+",Free,0,Everyone,Shopping,"August 01, 2018",5.6.1,3.4
4,eBay: Buy & Sell this Summer - Discover Deals ...,SHOPPING,4.4,2788923,Varies with device,"100,000,000+",Free,0,Teen,Shopping,"July 30, 2018",NaN,NaN
5,Google Translate,TOOLS,4.5,5745093,Varies with device,"500,000,000+",Free,0,Everyone,Tools,"August 04, 2018",6.7.8,5.6.1
6,Scientific Calculator Free,TOOLS,1.0,16395,Varies with device,"1,000,000+",Free,0,Everyone,Tools,"June 28, 2018",NaN,NaN

# Date and Time
By default pandas will try to guess the datatypes of each column. 

For example if they are all floating point numbers e.g. 0.001 then pandas will store all the numbers in memory in this format

This greatly reduces the memory use and makes it easier to perform calculations on the data
Some types are hard to process automatically e.g. Dates you can specify the types of any column manually when loading in the data. 

You can specify the types of any column manually when loading in the data. Here we convert the <b>Last_Updated</b> column to be a DateTime column.

In [8]:
data.Last_Updated = pd.to_datetime(data.Last_Updated, format='%B %d, %Y')

<b> Converting to Datetime (B = Month as full name). This may not always be applicable

The format above must match the format within the column, you can find date formats at http://strftime.org/

In [9]:
data.Last_Updated # this converts the column to a DateTime format

0   2018-06-20
1   2018-07-26
2   2018-08-03
3   2018-08-01
4   2018-07-30
5   2018-08-04
6   2018-06-28
Name: Last_Updated, dtype: datetime64[ns]

<b>You can see above the the new data type for the Last Updated column is a DateTime64 field.

# Index
Your index is a column which provides a unique ID for each row. Operations can be performed on it e.g. changing the index column to be a DateTime index

In [10]:
data.index = pd.DatetimeIndex(data.Last_Updated, name='Index')

<b> Your index can be reassigned to another column (Last_Updated). DateTimeIndex is used to maintain it's format as DateTime in this specific example

In [11]:
data[['App']]

                                                          App
Index
2018-06-20              Pixel Draw - Number Art Coloring Book
2018-07-26                          FC Barcelona Official App
2018-08-03                                           Facebook
2018-08-01                                               Nike
2018-07-30  eBay: Buy & Sell this Summer - Discover Deals ...
2018-08-04                                   Google Translate
2018-06-28                         Scientific Calculator Free

<b>Here you can see the Index has become the DateTime column to allow us to analyse rows by date. Pandas has powerful functions to manage Time analysis. </b>

In [12]:
# Because Last_Updated has been turned into a DateTime column, you can access the specific day, month and year etc
for index, row in data.iterrows():
    last_updated = row['Last_Updated']
    print('{}/{}/{}'.format(last_updated.day, last_updated.month, last_updated.year))

20/6/2018
26/7/2018
3/8/2018
1/8/2018
30/7/2018
4/8/2018
28/6/2018

If you use <b>last_updated.weekday</b>, the weekday numbers are an integer from 0 to 6 corresponding to Monday to Sunday

# Categories

Categoricals are a pandas data type corresponding to categorical variables in statistics. A categorical variable takes on a limited, and usually fixed, number of possible values e.g. gender

We want to set a description for each of the user ratings based on their values in the <b>Rating</b> column.

In [13]:
rating_bins = [0, 1, 2, 3, 4, 5] # there are 5 bins here: 0-1, 1-2, 2-3, 3-4, 4-5
bin_names = ['Poor', 'Low', 'Okay', 'Good', 'Great'] # length must be 1 less than the number of bins

data['Rating Description'] = pd.cut(data['Rating'], rating_bins, labels=bin_names)

<b> Cut uses numeric ranges and a list to reassign values. ie. if item is in range 0-1, reassign to 'Poor' (first items in both lists)

In [14]:
data[['App', 'Rating Description']]

,App,Rating Description
Index,,
2018-06-20,Pixel Draw - Number Art Coloring Book,Okay
2018-07-26,FC Barcelona Official App,Good
2018-08-03,Facebook,Great
2018-08-01,Nike,Great
2018-07-30,eBay: Buy & Sell this Summer - Discover Deals ...,Great
2018-08-04,Google Translate,Great
2018-06-28,Scientific Calculator Free,Poor

As you can see, a <b>Rating Description</b> column has been added with the appropriate description depending on where the app's rating fell within the bins

# Sorting

Lets sort the apps by their number of installs. You also sort by multiple columns by using a list of strings in the <b>by</b> argument of the sort_values() method.

You can choose to sort in ascending or descending order by specifying a boolean to the <b>ascending</b> argument. 
The argument <b>inplace=True</b> means that a dataframe will not be returned when the operation is finished and the operation will be performed on the same dataframe (overwrite)

In [15]:
data.sort_values(by='Last_Updated', ascending=False, inplace=True) # in descending order
data[['App', 'Last_Updated']]

                                                          App Last_Updated
Index
2018-08-04                                   Google Translate   2018-08-04
2018-08-03                                           Facebook   2018-08-03
2018-08-01                                               Nike   2018-08-01
2018-07-30  eBay: Buy & Sell this Summer - Discover Deals ...   2018-07-30
2018-07-26                          FC Barcelona Official App   2018-07-26
2018-06-28                         Scientific Calculator Free   2018-06-28
2018-06-20              Pixel Draw - Number Art Coloring Book   2018-06-20

# Grouping

<b>Groupby applies to a column of values and it creates an object that consists of a data frame for each value that the column takes.

In [16]:
grouped_data = data['App'].groupby(data['Content_Rating'])

In [17]:
# Gives a summary of the grouped data
grouped_data.describe()

,count,unique,top,freq
Content_Rating,,,,
Everyone,5,5,Nike,1
Teen,2,2,eBay: Buy & Sell this Summer - Discover Deals ...,1

As you can see, there are 5 apps with a content rating of <b>Everyone</b> and 2 apps with a content rating of <b>Teen</b>

In [18]:
# To view the grouped data - not very understandable
list(grouped_data)

[('Everyone', Index
  2018-08-04                         Google Translate
  2018-08-01                                     Nike
  2018-07-26                FC Barcelona Official App
  2018-06-28               Scientific Calculator Free
  2018-06-20    Pixel Draw - Number Art Coloring Book
  Name: App, dtype: object), ('Teen', Index
  2018-08-03                                             Facebook
  2018-07-30    eBay: Buy & Sell this Summer - Discover Deals ...
  Name: App, dtype: object)]

<b> Print is not always easy to read </b>

In [19]:
# Iterating over the grouped data - which might be easier to view
for name, group in grouped_data:
    print(name)
    print('********************************')
    print(group)

Everyone
********************************
Index
2018-08-04                         Google Translate
2018-08-01                                     Nike
2018-07-26                FC Barcelona Official App
2018-06-28               Scientific Calculator Free
2018-06-20    Pixel Draw - Number Art Coloring Book
Name: App, dtype: object
Teen
********************************
Index
2018-08-03                                             Facebook
2018-07-30    eBay: Buy & Sell this Summer - Discover Deals ...
Name: App, dtype: object

<b> Looping over items can be better for reading

In [20]:
# Use of aggregate functions on the grouped data e.g. mean, count
grouped_data = data.groupby(by='Content_Rating')

print('Aggregate Function Mean:')
print(grouped_data[['Rating']].mean()) # get the average rating between content rating groups

print('\nAggregate Function Count:') # count the apps within the content rating groups
print(grouped_data['App'].count())

Aggregate Function Mean:
                Rating
Content_Rating
Everyone          3.28
Teen              4.25

Aggregate Function Count:
Content_Rating
Everyone    5
Teen        2
Name: App, dtype: int64

<b> Grouping by content rating and outputting the mean for categories, as well as the total items in that category

# Pivot

The <b>Pivot</b> function returns reshaped DataFrame organized by given index / column values. You reshape data (produce a “pivot” table) based on column values

Pivot can be used to create a derived table out of a given one. E.g. Group by content rating and show the reviews of each app

### Example 1

In [21]:
pd.pivot_table(data, index=['Content_Rating', 'App'], values='Reviews')

                                                                    Reviews
Content_Rating App
Everyone       FC Barcelona Official App                              92522
               Google Translate                                     5745093
               Nike                                                   67071
               Pixel Draw - Number Art Coloring Book                    967
               Scientific Calculator Free                             16395
Teen           Facebook                                            78158306
               eBay: Buy & Sell this Summer - Discover Deals Now!   2788923

<b>Here the table is pivoted and grouped by content rating and app. It's key is a combination of "Content_rating" and "app" and is only displaying the Reviews column

### Example 2
Lets say we have a small faculty of students, 4 boys and 4 girls with their years and respective average mark for the year

In [32]:
# Create the data frame
raw_data = {'Breed': ['Golden Retriever', 'German Shepard', 'German Shepard', 'German Shepard', 'Golden Retriever', 'Golden Retriever'], 
        'Age': [3,2,2,3,2,3], 
        'Score': [78, 84, 71, 66, 90, 86]}
another_df = pd.DataFrame(raw_data, columns = ['Breed', 'Age', 'Score'])
another_df

              Breed  Age  Score
0  Golden Retriever    3     78
1    German Shepard    2     84
2    German Shepard    2     71
3    German Shepard    3     66
4  Golden Retriever    2     90
5  Golden Retriever    3     86

In [33]:
pd.pivot_table(another_df, index=['Breed','Age'], aggfunc='mean')

                      Score
Breed            Age
German Shepard   2     77.5
                 3     66.0
Golden Retriever 2     90.0
                 3     82.0

Here we have pivoted the table and grouped by <b>Class</b> and <b>Year</b>. We then used the aggregate function mean to get the average testscore